@import "tailwindcss";
/* @import 'ant-design-pro/dist/ant-design-pro.css';  */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 防止页面加载时的闪烁 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0f2f5;
}

#__next {
  height: 100%;
}

/* 优化过渡效果 */
.ant-layout {
  min-height: 100vh;
  transition: opacity 0.3s ease-in-out;
}

.ant-layout-sider,
.ant-layout-header {
  transition: all 0.2s;
}

/* 防止布局闪烁 */
.ant-pro-layout {
  opacity: 1 !important;
}

.global-spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* 冻结input框选择之后的背景色 */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}